div{
  border-radius: 30px;
  border: 3px solid #73AD21;
  box-shadow:10px 5px 5px burlywood;
  font-family: 'Times New Roman', Times, serif;
  background-color: antiquewhite;
  width: 300px;
  height: 200px;
  padding: 40px;
  margin: 20px;
}
h2{
 font-family: 'Times New Roman', Times, serif;
}
